.authbody{
  display:flex;
  height: 100vh
}
.filterbody{
  width: 95vw;
    margin: auto;
    padding: 10px;
    background-color:#fff;
    border-radius:10px;
        box-shadow:
      0px 0px 1.2px rgba(0, 0, 0, 0.042),
      0px 0px 2.7px rgba(0, 0, 0, 0.062),
      0px 0px 4.6px rgba(0, 0, 0, 0.077),
      0px 0px 6.9px rgba(0, 0, 0, 0.089),
      0px 0px 10px rgba(0, 0, 0, 0.1),
      0px 0px 14.2px rgba(0, 0, 0, 0.111),
      0px 0px 20.1px rgba(0, 0, 0, 0.123),
      0px 0px 29.2px rgba(0, 0, 0, 0.138),
      0px 0px 45px rgba(0, 0, 0, 0.158),
      0px 0px 80px rgba(0, 0, 0, 0.2)
    ;
}
.promotext{
  width: 50%;
}
.loading{
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div{
      width: 2rem;
      height: 2rem;
      margin: 2rem 0.3rem;
      background-color: #009393;
      border-radius: 50%;
      animation: 0.9s bounce infinite alternate;
      color: black;
      
  }
  .div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .div:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    to {
      opacity: 0.3;
      transform: translate3d(0, -1rem, 0);
    }
  }
.promoimg{
      display: flex;
  }
.authsection1{
      width: 50%;
    }
.productbody{
  flex-direction: column;
}
.contactbody{
  flex-direction: row
}
.contactside{
  width: 40%;
}
.consolebody{
  
}
.consoleNavigation{
  height: 100vh;
  width: 30%;
  background-color: #090F14;
  flex-direction: column;
}
.Hub{
  width: 60vw;
  height: 100vh;
  background-color: #090F14;
}
.SigninBody{
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.authSection{
  display: flex;
  padding: auto;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.authForm{
  background-color: #fff;
  position: absolute;
  top: 25vh;
  right: 10%;
  /*height: ;*/
  width: 500px;
  border-radius: 10px;
  padding: 15px;
  box-shadow:
    0px 0px 1.2px rgba(0, 0, 0, 0.051),
    0px 0px 2.7px rgba(0, 0, 0, 0.074),
    0px 0px 4.6px rgba(0, 0, 0, 0.092),
    0px 0px 6.9px rgba(0, 0, 0, 0.106),
    0px 0px 10px rgba(0, 0, 0, 0.12),
    0px 0px 14.2px rgba(0, 0, 0, 0.134),
    0px 0px 20.1px rgba(0, 0, 0, 0.148),
    0px 0px 29.2px rgba(0, 0, 0, 0.166),
    0px 0px 45px rgba(0, 0, 0, 0.189),
    0px 0px 80px rgba(0, 0, 0, 0.24)
  ;
}
.HeaderNav::-webkit-scrollbar{
      display: none; 
}
@media screen and (max-width: 60em) {
  .authSection{
    display: none;
  }
}
@media screen and (max-width: 48em) {
    .authbody{
      flex-direction: column;
      width:100vw;
      height: 100vh;
    }
    .authsection1{
      display: none;
      width: 100%
    }
    .promoimg{
      display: none;
  }
  .promotext{
    width: 100%
  }
  .productbody{
  flex-direction: column;
}
.productsection2{
  width: 100%
}
.contactbody{
  flex-direction: column;
}
.contactside{
  width: 100%;
}
.consoleNavigation{
  height: 50px;
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  overflow: auto;
}
.consoleNavItem{
  background-color: #090F14;
  border-radius: 10px;
  padding: 10px
}
.consolebody{
  flex-direction: column;
}
.Hub{
  position: absolute;
  top:50px;
  left: 0px;
  z-index: 1
}
.authSection{
  display: none;
}
.authForm{
  right: 20px;
  width: 90vw;
}

  }