.authbody{
  display:flex;
  height: 100vh
}
.filterbody{
  width: 95vw;
    margin: auto;
    padding: 10px;
    background-color:#fff;
    border-radius:10px;
        box-shadow:
      0px 0px 1.2px rgba(0, 0, 0, 0.042),
      0px 0px 2.7px rgba(0, 0, 0, 0.062),
      0px 0px 4.6px rgba(0, 0, 0, 0.077),
      0px 0px 6.9px rgba(0, 0, 0, 0.089),
      0px 0px 10px rgba(0, 0, 0, 0.1),
      0px 0px 14.2px rgba(0, 0, 0, 0.111),
      0px 0px 20.1px rgba(0, 0, 0, 0.123),
      0px 0px 29.2px rgba(0, 0, 0, 0.138),
      0px 0px 45px rgba(0, 0, 0, 0.158),
      0px 0px 80px rgba(0, 0, 0, 0.2)
    ;
}
.promotext{
  width: 50%;
}
.promoimg{
      display: flex;
  }
.authsection1{
      width: 50%;
    }
.productbody{
  flex-direction: row;
}
.productsection2{
  width: 60vw
}
.contactbody{
  flex-direction: row
}
.contactside{
  width: 40%;
}
.consolebody{
  
}
.consoleNavigation{
  height: 100vh;
  width: 30%;
  background-color: #eee;
  flex-direction: column;
}
.Hub{
  width: 60vw;
  height: 100vh;
  background-color: #009393;
}
@media screen and (max-width: 48em) {
    .authbody{
      flex-direction: column;
      width:100vw;
      height: 100vh;
    }
    .authsection1{
      display: none;
      width: 100%
    }
    .promoimg{
      display: none;
  }
  .promotext{
    width: 100%
  }
  .productbody{
  flex-direction: column;
}
.productsection2{
  width: 100%
}
.contactbody{
  flex-direction: column;
}
.contactside{
  width: 100%;
}
.consoleNavigation{
  height: 50px;
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  overflow: auto;
  
}
.consolebody{
  flex-direction: column;
}
.Hub{
  position: absolute;
  top:50px;
  left: 0px;
  z-index: 1
}
  }